<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{url_for('static', filename='style.css' ) }}" rel="stylesheet" rel="stylesheet">
   <title>Aula de FLASK</title>
</head>

<body>

   {% for cliente in content %}
   <form action="" method="post">
      <input type="text" name="nome" placeholder="Novo nome">

      <input type="text" name="email" placeholder="Novo email">

      <input type="hidden" name="id" value="{{ cliente[0] }}">

      <input type="submit" name="acao" value="Enviar">
   </form>

   <p>Nome: {{ cliente[1] }}</p>
   <p>Email: {{ cliente[2] }}</p>
   <a href="/deletar?id={{ cliente[0] }}">Deletar</a>
   <hr />
   {% endfor %}

   <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>